/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shippori+Antique+B1&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heading {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subHeading {
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sm-navbar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100dvh;
  transition: all ease-in-out 0.4s;
  width: 0;
}

.sm-navbar ul{
  overflow: hidden;
  visibility: hidden;
  white-space: nowrap;
  transition: all ease-in-out 0.2s;
}

#exit-nav{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  cursor: pointer;
  width: 20%;
}

.nav-on-scroll{
  background-color: transparent;
  transition: background-color ease 0.4s;
}